<%layout('layouts/boilerplate')%>
<form action="/profile?_method=PUT" method="post">
    <div>
        <label for="newPass">New password: </label>
        <input type="password" name="newPass" id="newPass" placeholder="New password">
    </div>
    <div>
        <label for="confirmPass">Confirm password: </label>
        <input type="text" name="confirmPass" id="confirmPass" placeholder="Confirm password">
    </div>
    <div>
        <label for="oldPass">Old password: </label>
        <input type="text" name="oldPass" id="oldPass" placeholder="Old password">
    </div>
    <button>Change password</button>
</form>