<%layout('layouts/boilerplate')%>
    <div>
        <h1>All products</h1>
        <ul>
            <%for(let product of products){%>
                <li>
                    <a href="/product/<%=product.id%>"><%=product.name%></a>

                </li>
            <%}%>
        </ul>
    </div>